p {
    color: #727272;
    font-size: 12px;
}
.nav_bar {
    float: right;
    height: 100px;
    display: block;
}
.nav_button1 {
    position: relative;
    display: inline-block;
    padding: 0px 6px 0px 6px;
    top: -9px;
}
.nav_button_text {
    display: inline-block;
    position: relative;
    padding: 0px 6px 0px 6px; 
    top: -9px;
}
.nav_button_icon1 {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    top: -3px;
    margin: 0px 6px 0px 6px;
}
.nav_button_icon2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: -3px;
    margin: 0px 6px 0px 6px;
}
.nav_button_profile {
    display: inline-block;
    margin: 10px 6px 0px 6px;  
}
a:link {
	text-decoration: none;
}
a:hover {
	color: #8E8E8E;
    text-decoration: underline;
}
.search-button {
    border: 1px solid #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 18px 10px 18px;
    background-color: #efefef;
    color: #727272;
    display: inline-block;
}
.search-button:hover {
    color: black;
    border: 1px solid #999999;
}
.button-bar {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 200px;
}
.footer {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #Eeeeee;
}
.company-info {
    padding: 3px 17px 3px 17px;
    display: inline-block;
    float: left;
}
.user-info {
    padding: 3px 17px 3px 17px;
    display: inline-block;
    float: right;    
}
#header {
    display: block;
    height: 100px;
}
#body {
    display: block;
    position: relative;
    min-height: 600px;
}
#g_apps {
    background-image: url("https://docs.google.com/drawings/d/1Yy0vs1igTFZcacNLBC5dBQUfxESKh8mp34sBzoTWLIU/pub?w=22&amp;h=22");    
}
#g_apps:hover {
	background-image: url("https://docs.google.com/drawings/d/1JeoXOogCbgGedVEuGQq-ONQ3BrSGJyMIVqfpYoO5sok/pub?w=22&amp;h=22");
}
#g_alarm {
    background-image: url("https://docs.google.com/drawings/d/1hcAh0ZXgyL4HLhzjyGJ1L2PkLkF60LZlfhxQaCCahfc/pub?w=24&amp;h=24");}

#g_alarm:hover {
    background-image: url("https://docs.google.com/drawings/d/11TNkzsSOU5mL9VVzHRakJ8QB1nwngpuNOWNaRL9Q6TE/pub?w=24&amp;h=24");
}
#text-box {
    width: 570px;
    height: 22px;
    border: 1px solid #DDDDDD;
    font-size: 17px;
    padding: 10px;
    position: relative;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#text-box:hover {
    border-color: #999999;
}
#logo {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
